body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #2C2C2C;
    background-color: #FFFFFF;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    
}


ul {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
.container {
   width: 1277px;
   background-color: #FFE550;
   padding: 140px 0 126px 0;
   margin: 0 auto;

}

.titl-list-say {
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: left;
max-width: 501px;
line-height: 1.07;
letter-spacing: 0.02em;   
margin-left: 32px; 
margin-bottom: 20px;


}
.row {
font-size: 16px;
margin-left: 32px;
margin-bottom: 33px;

}
.say-list {
    display: flex;
    margin-left: 32px;
    gap: 139px;
}
.desc {
    width: 501px;
    height: 232px;
    background-color: #FEFEFE;
    border-radius: 0px 30px 30px 30px;
}
.row-desc {
 max-width: 473px;
font-size: 18px;
font-weight: 700;
margin-top: 60px;
margin-left: 14px;
margin-right: 14px;
display: block;
}
